.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-tab {
  width: 290px;
  height: 60px;
  box-shadow: 0px 0px 20px 0px rgba(222, 222, 222, 0.5);
  margin-bottom: 20px;
  margin-left: 30px;
}

#moreIcon {
  position: relative;
  left: 130px;
}

.subtab1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.subtab2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-tab span {
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

#sortup {
  margin-left: 4px;
}

.ownText {
  margin-left: 30px;
  cursor: pointer;
}

#sort-right {
  cursor: pointer;
  padding-right: 10px;
}

.set-langugae {
  cursor: pointer;
}

.toggleIcon {
  margin: 0 40px;
}
