.foot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.foot-container span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
}
