.App {
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.main-page {
  width: 350px;
  height: 429px;
  background: #fafafa;
  margin: 0 auto;
  flex-direction: row;
}

header {
  margin: 20px 0;
}

header span {
  font-family: Open sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
